<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .done {
            color: gray;
            text-decoration: line-through;

        }
    </style>
</head>

<body>
    <div id="app">

        <h2>{{title}}</h2>

        <input type="text" v-model="title" @keydown.enter="addTodo">
        <ul>
            <li v-for="todo in todos">
                <!--  动态样式业务，提供了语法支持 -->
                <span :class="{done :todo.done}">{{todo.title}}</span>
            </li>
        </ul>
        <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script>
        <script>
            const app = {

                data() {

                    return {

                        title: "",
                        todos: [
                            { title: '吃饭', done: true },
                            { title: '睡觉', done: false },
                        ]
                    }
                },
                methods: {
                    addTodo() {
                        this.todos.push({
                            title: this.title,
                            done: false
                        })
                        this.title = ''
                        // this 指向 Vue 实例
                    }
                }
            }
            Vue.createApp(app).mount('#app')
        </script>
    </div>
</body>

</html>